{% extends 'base.html.twig' %}

{% block title %}Ingrédients{% endblock %}

{% block body %}
    <h1>Liste des ingrédients</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.price }} €</td>
                <td>
                    <a href="{{ path('ingredient_show', {'id': ingredient.id}) }}">Voir</a>
                    <a href="{{ path('ingredient_edit', {'id': ingredient.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun ingrédient trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ingredient_new') }}" class="btn btn-primary">Ajouter un ingrédient</a>
{% endblock %}
