{{ form_start(form) }}

    {{ form_row(form.name) }}

    {{ form_row(form.price) }}

    {{ form_row(form.pizzaIngredients) }}

<button type="submit" class="btn btn-primary">Enregistrer</button>

{{ form_end(form) }}
